h1 {
    font-size: 30px;
    font-weight: 700;
    color: $white;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    color: $black;
    @media screen and (max-width: $breakPoint-md){
        font-size: 32px;
    }
}

h3 {
    font-size: 28px;
    font-weight: 700;
    color: $black;
}

p {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

// Buttons

.primaryBtn {
    color: $white;
    font-size: 13px;
    transition: 0.3s ease;
    border: 2px solid $white;
    padding: 7px 25px;
    border-radius: 4px;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    &:hover {
        color: $white;
        background-color: $secondary;
        border: 2px solid transparent;
    }
}

.secondaryBtn {
    color: $white;
    font-size: 14px;
    transition: 0.3s ease;
    padding: 10px 30px;
    border-radius: 4px;
    font-weight: 400;
    background-color: $secondary;
    display: inline-block;
    text-decoration: none;
    border: 1px solid transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    &:hover {
        background-color: rgba(255, 74, 23,0.7);
    }
}

// Images

.images {
    width: 100%;
    height: auto;
}
