// Variables
@import './Variables/variables';

// Base
@import './Base/base';

// Typography
@import './typography';

// Mixin
@import './mixin';

// Components
@import './Components/header';
@import './Components/heroSection';
@import './Components/aboutSection';
@import './Components/statsSection';
@import './Components/serviceSection';
@import './Components/clientsSection';
@import './Components/featuresSection';
@import './Components/serviceSection2';
@import './Components/testimonialSection';
@import './Components/portfolioSection';
@import './Components/teamSection';
@import './Components/contactSection';
@import './Components/footer';