// Font family

$fontFamily: "Raleway",  sans-serif;
$nav-font:  "Inter", sans-serif;

// Font Color

$primary: rgba(21, 34, 43, 0.85);
$secondary: #ff4a17;
$white: #fff;
$black: #273d4e;

// BreakPoints

$breakPoint-sm: 576px;
$breakPoint-md: 768px;
$breakPoint-lg: 992px;
$breakPoint-xl: 1200px;
$breakPoint-xxl: 1440px;
