.featuresSection {
    .featureContainer {
        ul {
            border: none;
            li {
                .active {
                    background-color: $secondary;
                    color: $white;
                    border-color: $secondary;
                }
                a {
                    padding: 15px 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 0px;
                    cursor: pointer;
                    height: 100%;
                    background-color: $white;
                    color: $black;
                    border: 1px solid rgb(165, 165, 165);
                    border-radius: 0;
                    @media screen and (max-width: $breakPoint-lg) {
                        max-height: 70px;
                    }
                    &:hover {
                        border: 1px solid $secondary;
                        transition: 0.3s ease;
                    }
                    i {
                        font-size: 48px;
                        padding-right: 15px;
                        @media screen and (max-width: $breakPoint-lg) {
                            padding: 0px;
                        }
                    }
                    h4 {
                        font-size: 18px;
                        font-weight: 600;
                        margin: 0px;
                        @media screen and (max-width: $breakPoint-lg) {
                            display: none;
                        }
                    }
                }
            }
        }
        .tab-content {
            margin-top: 30px;
            .tab-pane {
                .tabRow {
                    .tableftCol {
                        color: #444444;
                        @media screen and (max-width: $breakPoint-lg) {
                            order: 2;
                        }
                        h3 {
                            font-size: 26px;
                            font-weight: 700;
                            color: $black;
                        }
                        .topPahra {
                            font-style: italic;
                        }
                        ul {
                            list-style: none;
                            li {
                                padding-bottom: 10px;
                                i {
                                    font-size: 20px;
                                    padding-right: 4px;
                                    color: $secondary;
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
}