.portfolioSection {
    .portfolioContainer {
        .topCont {
            h2 {
                @include h2afterBar;
            }

            p {
                font-size: 36px;
                color: $black;
                font-weight: 700;
            }
        }
    }

    .container {
        .nav {
            display: flex;
            justify-content: center;
            border: none;

            .nav-item {
                .nav-link {
                    font-size: 18px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: 500;
                    color: $black;
                    border: none;
                }

                .active {
                    color: $secondary;
                }
            }
        }

        .tab-content {
            .tab-pane {
                .portfolio-Row {
                    .portfolio-Col {
                        margin-top: 24px;

                        .portfolio-content {
                            position: relative;
                            cursor: pointer;
                            overflow: hidden;

                            &:hover img {
                                transform: scale(1.1, 1.1);
                                transition: 0.5s ease-in-out;
                            }

                            &:hover .portfolio-intro {
                                opacity: 1;
                            }
                        }

                        .portfolio-intro {
                            position: absolute;
                            opacity: 0;
                            z-index: 3;
                            padding: 15px;
                            inset: 0px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            background: color-mix(in srgb, #000910, transparent 30%);

                            h4 {
                                font-size: 14px;
                                padding: 5px 10px;
                                font-weight: 400;
                                color: $white;
                                display: inline-block;
                                background-color: $secondary;
                                margin-right: auto;
                            }

                            .port-link {
                                a {
                                    font-size: 26px;
                                    color: $white;
                                    text-decoration: none;

                                    &:hover {
                                        color: $secondary;
                                        transition: 0.5s ease;
                                    }
                                }
                            }

                            p {
                                text-align: center;
                                font-size: 16px;
                                font-weight: 600;
                                color: rgba(255, 255, 255, 0.5);
                            }
                        }
                    }
                }
            }
        }
    }
}