.team-Section {
    background-color: #f1f4fa;

    .team-container {
        .topCont {
            h2 {
                @include h2afterBar;
            }

            p {
                font-size: 36px;
                color: $black;
                font-weight: 700;
            }
        }
    }

    .container {
        .team-Row {
            .team-Col {
                margin-top: 48px;

                .team-Cont {
                    position: relative;

                    .member-Img {
                        margin-bottom: 50px;
                    }

                    .member-info {
                        position: absolute;
                        background-color: $white;
                        left: 20px;
                        right: 20px;
                        padding: 20px 15px;
                        bottom: -50px;
                        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

                        h4 {
                            font-size: 16px;
                            font-weight: 700;
                            margin-bottom: 10px;
                            padding-bottom: 10px;
                            position: relative;

                            &::after {
                                content: " ";
                                position: absolute;
                                width: 45px;
                                height: 1px;
                                background-color: rgb(173, 173, 173);
                                z-index: 4;
                                bottom: 0;
                                left: 0;
                            }
                        }

                        .social-icon {
                            display: flex;
                            justify-content: space-between;

                            span {
                                font-style: italic;
                                font-size: 13px;
                            }

                            .social {
                                a {
                                    text-decoration: none;
                                    color: rgb(168, 166, 166);

                                    &:hover {
                                        color: $secondary;
                                    }

                                    i {
                                        font-size: 16px;
                                        margin: 0px 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}